/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.rootContainer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  color: white;
  min-height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  padding: 1rem;

  .imageBox {
    overflow: hidden;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.01);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .imageItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
